.root {
  margin: 140px 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 800;
}
.supheading {
  color: var(--ifm-color-primary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.subheading {
  color: var(--ifm-color-emphasis-600);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 16px;
}
.buttons {
  margin-top: 50px;
}
.panelImage {
  width: 100%;
  max-width: 50%;
  border-radius: 10px;
}
.panelImage img {
  display: block;
}

@media screen and (max-width: 996px) {
  .root {
    margin: 72px 0;
  }
  .wrapper {
    display: block;
    text-align: center;
  }
  .heading {
    font-size: 34px;
  }
  .subheading {
    /* font-size: 24px; */
  }
  .panelImage {
    margin-top: 50px;
    max-width: 100%;
  }
}
