.root {
  margin: 100px 0;
}
.heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}
.subheading {
  text-align: center;
  color: var(--ifm-color-emphasis-600);
  font-size: 28px;
  font-weight: 500;
  margin-top: 8px;
}
.plans {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
  align-items: stretch;
}
.plan {
  display: flex;
  flex-direction: column;
  background-color: var(--ifm-color-emphasis-100);
  border: 4px solid transparent;
  padding: 24px;
  border-radius: 10px;
  width: 320px;
}
.plan ul {
  flex: 1;
}
.plan ul li span {
  opacity: 0.5;
  padding-left: 10px;
}
.planDeveloper {
  border: 4px solid var(--ifm-color-primary);
}
.planBusiness {
  width: 600px;
}
.planBusiness ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(2, 1fr);
}
.planName {
  color: var(--ifm-color-primary);
  font-size: 24px;
  margin: 0;
}
.planPrice {
  font-size: 44px;
  font-weight: 700;
}
.planPrice span {
  font-size: 20px;
}
.plan ul {
  list-style: none;
  padding: 10px 0;
}
.plan li {
  padding: 4px 0;
  color: var(--ifm-color-emphasis-600);
  font-weight: 500;
}

@media screen and (max-width: 996px) {
  .heading {
    font-size: 32px;
  }
  .subheading {
    font-size: 24px;
  }
  .plans {
    grid-template-columns: repeat(1, auto);
  }
  .plan {
    width: 300px;
  }
  .planWide ul {
    display: block;
  }
}
